# CNROM oversize gallery: mapper 3, 32KB PRG, 16x8KB CHR
MEMORY {
  ZP:     start = $0000, size = $0100, type = rw, file = "";
  RAM:    start = $0200, size = $0600, type = rw, file = "";
  HEADER: start = $0000, size = $0010, type = ro, file = %O, fill = yes;
  PRG:    start = $8000, size = $8000, type = ro, file = %O, fill = yes, fillval = $00;
  CHR00:  start = $0000, size = $2000, type = ro, file = %O, fill = yes, fillval = $00;
  CHR01:  start = $0000, size = $2000, type = ro, file = %O, fill = yes, fillval = $00;
  CHR02:  start = $0000, size = $2000, type = ro, file = %O, fill = yes, fillval = $00;
  CHR03:  start = $0000, size = $2000, type = ro, file = %O, fill = yes, fillval = $00;
  CHR04:  start = $0000, size = $2000, type = ro, file = %O, fill = yes, fillval = $00;
  CHR05:  start = $0000, size = $2000, type = ro, file = %O, fill = yes, fillval = $00;
  CHR06:  start = $0000, size = $2000, type = ro, file = %O, fill = yes, fillval = $00;
  CHR07:  start = $0000, size = $2000, type = ro, file = %O, fill = yes, fillval = $00;
  CHR08:  start = $0000, size = $2000, type = ro, file = %O, fill = yes, fillval = $00;
  CHR09:  start = $0000, size = $2000, type = ro, file = %O, fill = yes, fillval = $00;
  CHR10:  start = $0000, size = $2000, type = ro, file = %O, fill = yes, fillval = $00;
  CHR11:  start = $0000, size = $2000, type = ro, file = %O, fill = yes, fillval = $00;
  CHR12:  start = $0000, size = $2000, type = ro, file = %O, fill = yes, fillval = $00;
  CHR13:  start = $0000, size = $2000, type = ro, file = %O, fill = yes, fillval = $00;
  CHR14:  start = $0000, size = $2000, type = ro, file = %O, fill = yes, fillval = $00;
  CHR15:  start = $0000, size = $2000, type = ro, file = %O, fill = yes, fillval = $00;
}

SEGMENTS {
  ZEROPAGE: load = ZP, type = zp;
  BSS: load = RAM, type = bss, define = yes;
  HEADER: load = HEADER, type = ro;
  CODE: load = PRG, type = ro, start = $8000;
  RODATA: load = PRG, type = ro;
  VECTORS: load = PRG, type = ro, start = $FFFA;
  CHR00: load = CHR00, type = ro;
  CHR01: load = CHR01, type = ro;
  CHR02: load = CHR02, type = ro;
  CHR03: load = CHR03, type = ro;
  CHR04: load = CHR04, type = ro;
  CHR05: load = CHR05, type = ro;
  CHR06: load = CHR06, type = ro;
  CHR07: load = CHR07, type = ro;
  CHR08: load = CHR08, type = ro;
  CHR09: load = CHR09, type = ro;
  CHR10: load = CHR10, type = ro;
  CHR11: load = CHR11, type = ro;
  CHR12: load = CHR12, type = ro;
  CHR13: load = CHR13, type = ro;
  CHR14: load = CHR14, type = ro;
  CHR15: load = CHR15, type = ro;
}
